{% extends "layout.html" %} 
{% block title %} 
Controle de Gastos App 
{% endblock %} 

{% block content %}
<div class="bg-gradient-to-r via-white from-sky-400 to-white p-4 md:p-8 rounded-xl shadow-md flex flex-col md:flex-row items-center justify-between space-y-5 md:space-y-0 md:space-x-4">

  <div>
    <h1 class="text-2xl font-bold uppercase">Lista de gastos</h1>
    <p class="mt-4">Bemvindo ao seu app de controle de gastos</p>
    <p class="mt-2">Aqui podes gerir as suas finanças com eficiência.</p>
  </div>

  <div class="flex flex-col items-center space-y-4">
      <div class="w-full text-xl flex flex-col items-center justify-center border rounded-md p-2">
        <span class="text-sky-500  font-bold">Total de gastos hoje:</span>
        <span class="text-gray-800 text-3xl">{{ stats.today_total|floatformat:2 }} Kz</span>
      </div>

       <div class="text-xl flex flex-col items-center justify-center border rounded-md p-2">
        <span class="text-sky-500  font-bold">Total de gastos esta semana:</span>
        <span class="text-gray-800 text-3xl">{{ stats.current_week_total|floatformat:2 }} Kz</span>
      </div>

  </div>

</div>

<div class="mt-7 w-full overflow-x-auto">
  <table class="w-full">
    <thead>
      <tr class="bg-gray-200">
        <th>ID</th>
        <th>Título</th>
        <th>Valor</th>
        <th>Açoes</th>
      </tr>
    </thead>
    <tbody>

      {% for expense in expenses %}
      <tr class="odd:bg-gray-100 even:bg-white">
        <td>{{ expense.id }}</td>
        <td>{{ expense.title }}</td>
        <td>{{ expense.amount }}</td>
        <td>
          <div class="space-x-2 flex">
            <a href="{% url 'expenses:edit' expense.id %}">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
              </svg>
            </a>
            <form action="{% url 'expenses:destroy' expense.id %}" method="post">
              {% csrf_token %}
              <button type="submit" onclick="return confirm('Tem certeza?')" class="text-red-500 hover:text-red-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </button>
            </form>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-center">
          <div class="icon text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 mx-auto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
            </svg>
          </div>
          <div class="text-center">No records found! Start adding now!</div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
